.header {
  padding: 25px;
  color: #fff;
  background: linear-gradient(90deg, #000 30%, transparent 50%), linear-gradient(180deg, #000 0, #363738);
}

// @media only screen and (min-width: 480px) {
//   .header {
//     margin: 3rem;
//   }
// }
// @media only screen and (min-width: 768px) {
//   .header {
//     margin: 5rem;
//   }
// }