.header {
  padding: 25px;
  color: #fff;
  background: linear-gradient(90deg, #000 30%, transparent 50%), linear-gradient(180deg, #000 0, #363738);
  .text_logo {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    margin: 20px;
  }
  .search_link {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    float: right;
    padding: 5px;
  }
}