.wrap {
  margin-right: 50px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
}

.search {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  &:focus:hover {
    border-bottom: 1px solid #BBB;
  }
  &:focus {
    width: 700px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    @media only screen and (max-width: 768px) {
      width: 220px;
      font-size: 20px;
    }
  }
}

.submit {
  font-size: 60px;
  color: #555;
  &:hover {
    opacity: 0.8;
  }
}